$default-text: #111;
$article-text: #373737;
$link-color: #ccc;
$link-hover-color: #999;
$fancy-link-color: #ddd;
$fancy-link-hover-color: #333;

@font-face {
    font-family: "Consolas";
    src: url('../fonts/Consolas.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.otf');
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: "ProximaNova";
    src: url('../fonts/ProximaNovaRegular.otf');
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url('../fonts/ProximaNovaBold.otf');
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "ProximaNova";
    color: $default-text;
    font-size: 100%;
    width: 100%;
    margin: 0;
}

#container {
    margin-top: 5.000em;
    @include center;
}

@mixin default-text-width {
    width: 30.900em;
}

h2 {
    @include center;
    font-family: "ProximaNova-Bold";
    font-size: 1.313em;
    width: 23.534em;
    color: #222;
    margin-top: 1.875em;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: $link-hover-color;
}

#header {
    padding-top: 0.625em;
    /*border-bottom: 3px solid #aaa;*/
    position: fixed;
    left: 0.313em;
    top: 0.313em;
}

#logo {
    font-family: "Montserrat";
    font-size: 25;
    letter-spacing: -2;
    color: $fancy-link-color;
    font-weight: 700;
    display: inline;
    //border: 5px solid #ddd;
    padding: 0.188em 0.500em 0.188em 0.375em;
}

#logo:hover {
    color: $fancy-link-hover-color;
}

