$default-text: #111;
$article-text: #373737;
$link-color: #ccc;
$link-hover-color: #999;
$fancy-link-color: #ddd;
$fancy-link-hover-color: #333;

@font-face {
    font-family: "Consolas";
    src: url('../fonts/Consolas.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.otf');
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: "ProximaNova";
    src: url('../fonts/ProximaNovaRegular.otf');
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url('../fonts/ProximaNovaAltRegular.otf');
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "ProximaNova";
    color: $default-text;
}

#container {
    width: 550px;
    margin-top: 80px;
    @include center;
}


h2 {
    font-family: "ProximaNova-Bold";
    font-size: 21px;
    color: #222;
    margin-top: 30px;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: $link-hover-color;
}

#header {
    padding-top: 10px;
    /*border-bottom: 3px solid #aaa;*/
    position: fixed;
    left: 5px;
    top: 5px;
}

#logo {
    font-family: "Montserrat";
    font-size: 25;
    letter-spacing: -2;
    color: $fancy-link-color;
    font-weight: 700;
    display: inline;
    //border: 5px solid #ddd;
    padding: 3px 8px 3px 6px;
}

#logo:hover {
    color: $fancy-link-hover-color;
}

