@import "global";

#container {
    width: 50.000em;
    padding-top: 6.250em;
    @include center;
}

#banner-container {
    padding-top: 6.250em;
}

#name {
    font-size: 7.500em;
    color: #111;
    font-family: "Montserrat";
    text-align: center;
    letter-spacing: -10;
    font-weight: 700;
}

ul {
    text-align: center;
    margin-top: 0.938em;
    width: 37.500em;
    @include center;
}

li {
    font-family: "Montserrat";
    letter-spacing: -1;
    list-style-type: none;
    color: $link-hover-color;
    font-size: 1.875em;
    float: left;
    width: 23%;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

    body {
        font-size: 120% !important;
    }

    div {
        clear:both!important;
        display:block!important;
        width:100%!important;
        float:none!important;
        margin:0!important;
        padding:0!important;
    }

    #name {
        margin-top: 0.5em !important;
    }

    ul {
        margin-top: 12em !important;
    }

    li {
        float: none !important;
        font-size: 600% !important;
        margin-bottom: 0.3em !important;
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
    }

}
