@import "global";

#container {
    width: 800px;
    padding-top: 100px;
    @include center;
}

#banner-container {
    padding-top: 100px;
}

#name {
    font-size: 120;
    color: #111;
    font-family: "Montserrat";
    text-align: center;
    letter-spacing: -10;
    font-weight: 700;
}

ul {
    text-align: center;
    margin-top: -15px;
    width: 600px;
    @include center;
}

li {
    font-family: "Ubuntu";
    list-style-type: none;
    color: $link-hover-color;
    font-size: 30;
    float: left;
    width: 23%;
}
