@import "global";

#right {
    text-align: right;
    font-size: 18;
    display: inline;
    float: right;
    font-family: "Montserrat";
    color: #aaa;
    margin-top: 7px;
}

#title {
    font-family: "Montserrat";
    font-size: 50;
    color: $article-text;
    letter-spacing: -3px;
    @include center;
}

#date {
    font-family: "Montserrat";
    font-size: 14;
    color: #bbb;
    @include center;
}

#article {
    font-family: "Georgia";
    font-size: 20;
    line-height: 1.5em;
    color: $article-text;
    @include center;
}

#article a {
    color: #e33;
}

#article a:hover {
    border-bottom: 1px solid #e33;
}

#footer {
    margin-top: 50px;
    margin: 50px auto 100px auto;
}

#more-words {
    width: 200px;
    font-size: 25;
    font-family: Montserrat;
    color: $fancy-link-color;
    letter-spacing: -2;
    font-weight: 700;
    padding: 4px;
    @include center;
}

#more-words:hover {
    color: $fancy-link-hover-color;
}

pre {
    padding: 10px 40px 10px 40px;
    background: #eee;
    border: 1px solid #ababab;
    font-family: Menlo;
    margin: 20px -40px;
    font-size: 16px;
    position: relative;
    overflow: auto;
}

.inline-code {
    background: #eee;
    padding-left: 2px;
    padding-right: 2px;
    font-family: Menlo;
    font-size: 16px;
    color: #222;
    font-style: bold;
    font-weight: 700;
}

