@import "global";

#word-list {
    margin-top: 3.125em;
    width: 37.500em;
    @include center;
}

#word-list a {
    color: #444;
}

#word-list a:hover {
    color: #444;
}

.post-name {
    font-size: 40;
    font-family: "ProximaNova";
    letter-spacing: -2;
    font-weight: 700;
}

.post-date {
    font-size: 1.250em;
    font-family: "ProximaNova";
    letter-spacing: -1;
    display: inline;
    color: #aaa;
    float: right;
}

#word-title {
    font-size: 1.875em;
    font-family: "ProximaNova";
    text-align: center;
    letter-spacing: -2;
    font-weight: 700;
    color: #444;
    padding-bottom: 0.625em;
}

.post {
    overflow: hidden;
    padding: 0.625em 1.875em 0.625em 1.875em;
    margin-bottom: 2.500em;
}

.post:hover {
    background: #fafafd;
    outline: 0.063em solid #dedede;
}

