@import "global";

h1 {
    font-family: "ProximaNova-Bold";
    font-size: 2.250em;
    color: $article-text;
    line-height: 1em;
    margin: 0;
    @include center;
}

h4 {
    font-family: "ProximaNova";
    font-size: 0.875em;
    color: #bbb;
    margin: 0;
    @include center;
}

#article {
    font-family: "ProximaNova";
    font-size: 1.125em;
    line-height: 1.5em;
    color: $article-text;
    @include center;
}

#article a {
    color: #e33;
}

#article p {
    margin-top: 1.375em;
    margin-bottom: 1.375em;
    overflow: hidden;
}

#article a:hover {
    border-bottom: 0.063em solid #e33;
}

#footer {
    margin-top: 3.125em;
    margin: 3.125em auto 6.250em auto;
}

#more-words {
    width: 12.500em;
    font-size: 25;
    font-family: Montserrat;
    color: $fancy-link-color;
    letter-spacing: -2;
    font-weight: 700;
    padding: 0.250em;
    @include center;
}

#more-words:hover {
    color: $fancy-link-hover-color;
}

.codehilite pre {
    z-index: -1;
    padding: 0.938em 62.500em 0.938em 62.500em;
    background: #fafafd;
    border: 0.063em solid #dedede;
    //border-left: 10px solid #dedede;
    margin: 1.250em -62.500em 1.250em -62.500em;
    font-size: 0.875em;
    position: relative;
    overflow: hidden;
    font-family: Consolas;
    line-height: 1.3em;
    color: #333;
}

code {
    background: #fafafd;
    border: 0.063em solid #dedede;
    font-family: Consolas;
    font-size: 0.875em;
    color: #333;
    font-style: bold;
    padding: 0.063em 0.375em 0em 0.375em;
    margin-bottom: 0.313em;
    line-height: 0.5em;
}

blockquote {
    z-index: -1;
    margin: reset;
    padding: reset;
    padding: 0.625em 62.500em 0.625em 62.500em;
    background: #fafafd;
    border: 0.063em solid #dedede;
    //border-left: 10px solid #dedede;
    margin: 1.250em -62.500em 1.250em -62.500em;
    font-size: 0.875em;
    position: relative;
    overflow: auto;
    line-height: 1.3em;
    color: #888;
}
