@import "global";

h1 {
    margin-top: 1em;
    margin-bottom: 0em;
    font-family: "ProximaNova-Bold";
    font-size: 2.250em;
    color: $article-text;
    line-height: 1em;
    @include center;
    width: $default-text-width-em / 2.250em * 1em;
}

h4 {
    @include center;
    margin-top: 0em;
    font-family: "ProximaNova";
    font-size: 0.875em;
    width: $default-text-width-em / 0.875em * 1em;
    color: #bbb;
}

#article {
    font-family: "ProximaNova";
    font-size: 1.125em;
    line-height: 1.5em;
    color: $article-text;
}

#article a {
    color: #e33;
}

#article p {
    @include center;
    @include default-text-width;
    margin-top: 1.375em;
    margin-bottom: 1.375em;
    overflow-x: hidden;
}

ul {
    @include center;
    @include default-text-width;
}

#article a:hover {
    border-bottom: 0.063em solid #e33;
}

#footer {
    margin-top: 3.125em;
    margin: 3.125em auto 6.250em auto;
}

#more-words {
    @include center;
    width: $default-text-width-em / 1.563em * 1em;
    font-size: 1.563em;
    font-family: Montserrat;
    color: $fancy-link-color;
    letter-spacing: -2;
    font-weight: 700;
    padding: 0.250em;
    text-align: center;
}

#more-words:hover {
    color: $fancy-link-hover-color;
}

.codehilite {
    font-family: Consolas;
    color: #333;
    z-index: -1;
    background: #fafafd;
    border: 0.063em solid #dedede;
    border-right: 0em solid #fff;
    line-height: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    left: 0;
    right: 0;
}

pre {
    display: block;
    margin: 0;
    font-size: 0.875em;
    font-family: Consolas;
    color: #333;
    font-style: bold;
    line-height: 1.3em;
    margin-left: auto;
    margin-right: auto;
    width: $default-text-width-em / 0.875em * 1em;
}

code {
    background: #fafafd;
    font-family: Consolas;
    padding: 0.063em;
    border: 0.063em solid #dedede;
    font-size: 0.9em;
}

blockquote {
    z-index: -1;
    margin: 0;
    padding: 0;
    background: #fafafd;
    border: 0.063em solid #dedede;
    border-right: 0em solid #fff;
    left: 0;
    right: 0;
    width: 100%;
}

blockquote p {
    @include center;
    margin: 0;
    font-size: 1em;
    overflow: auto;
    line-height: 1.3em;
    color: #888;
    width: $default-text-width-em / 1em * 1em !important;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

    @mixin default-text-width {
        width: 15em !important;
    }

    @viewport {
        width: device-width;
    }

    body{
        font-size: 100% !important;
        font-family:Helvetica, Arial, Verdana, sans-serif;
        padding:5px;
    }

    div {
        clear:both!important;
        display:block!important;
        width:100%!important;
        float:none!important;
        margin:0!important;
        padding:0!important;
    }

    .codehilite {
        padding-top: 1.25em !important;
        padding-bottom: 1.25em !important;
    }

    pre {
        overflow: auto;
    }

    blockquote p {
        overflow: auto;
    }

    #header {
        position: absolute;
    }

    @font-face {
        font-family: "ProximaNova-Bold";
        src: url('../fonts/ProximaNovaRegular.otf');
    }
}
