#word-list {
    margin-top: 50px;
    width: 600px;
}

#word-list a {
    color: #444;
}

#word-list a:hover {
    color: #444;
}

.post-name {
    font-size: 40;
    font-family: "ProximaNova";
    letter-spacing: -2;
    font-weight: 700;
}

.post-date {
    font-size: 20px;
    font-family: "ProximaNova";
    letter-spacing: -1;
    display: inline;
    color: #aaa;
    float: right;
}

#word-title {
    font-size: 30px;
    font-family: "ProximaNova";
    text-align: center;
    letter-spacing: -2;
    font-weight: 700;
    color: #444;
    padding-bottom: 10px;
}

.post {
    overflow: hidden;
    padding: 10 30 10 30;
    margin-bottom: 40px;
}

.post:hover {
    background: #fafafd;
    outline: 1px solid #dedede;
}

