/* Import global styles */
@import url('global.css');

h1 {
  margin-top: 1em;
  margin-bottom: 0em;
  font-family: "ProximaNova-Bold";
  font-size: 2.250em;
  color: var(--article-text);
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--default-text-width-em) / 2.250);
}

h4 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  font-family: "ProximaNova";
  font-size: 0.875em;
  width: calc(var(--default-text-width-em) / 0.875);
  color: #bbb;
}

#article {
  font-family: "ProximaNova";
  font-size: 1.125em;
  line-height: 1.5em;
  color: var(--article-text);

  & a {
    color: #e33;

    &:hover {
      border-bottom: 0.063em solid #e33;
    }
  }

  & p {
    margin-left: auto;
    margin-right: auto;
    width: var(--default-text-width-em);
    margin-top: 1.375em;
    margin-bottom: 1.375em;
    overflow-x: hidden;
  }
}

ul {
  margin-left: auto;
  margin-right: auto;
  width: var(--default-text-width-em);
}

ol {
  margin-left: auto;
  margin-right: auto;
  width: var(--default-text-width-em);
  list-style-type: decimal;
  type: "1";
}

#footer {
  margin-top: 3.125em;
  margin: 3.125em auto 6.250em auto;
}

#more-words {
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--default-text-width-em) / 1.563);
  font-size: 1.563em;
  font-family: Montserrat;
  color: var(--fancy-link-color);
  letter-spacing: -2;
  font-weight: 700;
  padding: 0.250em;
  text-align: center;

  &:hover {
    color: var(--fancy-link-hover-color);
  }
}

.codehilite {
  font-family: Consolas;
  color: #333;
  z-index: -1;
  background: #fafafd;
  border: 0.063em solid #dedede;
  border-right: 0em solid #fff;
  line-height: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  left: 0;
  right: 0;

  & pre {
    display: block;
    margin: 0;
    font-size: 0.875em;
    font-family: Consolas;
    color: #333;
    line-height: 1.3em;
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--default-text-width-em) / 0.875);
  }

  & code {
    background: none;
    border: none;
    padding: 0;
    font-family: Consolas;
  }
}

pre {
  display: block;
  margin: 0;
  font-size: 0.875em;
  font-family: Consolas;
  color: #333;
  line-height: 1.3em;
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--default-text-width-em) / 0.875);
}

code {
  background: #fafafd;
  font-family: Consolas;
  padding: 0.063em;
  border: 0.063em solid #dedede;
}

p code {
  font-size: 0.9em;
}

li a code {
  font-size: 0.865em;
}

blockquote {
  z-index: -1;
  margin: 0;
  padding: 0;
  background: #fafafd;
  border: 0.063em solid #dedede;
  border-right: 0em solid #fff;
  left: 0;
  right: 0;
  width: 100%;

  & p {
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    font-size: 1em;
    overflow: auto;
    line-height: 1.3em;
    color: #888;
    width: var(--default-text-width-em) !important;
  }
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 4px solid #555;
}

/* Mobile Styles */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  :root {
    --default-text-width-em: 15em;
  }

  @viewport {
    width: device-width;
  }

  body {
    font-size: 100% !important;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    padding: 5px;
  }

  div {
    clear: both !important;
    display: block !important;
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .codehilite {
    padding-top: 1.25em !important;
    padding-bottom: 1.25em !important;
  }

  pre {
    overflow: auto;
  }

  blockquote p {
    overflow: auto;
  }

  #header {
    position: absolute;
  }

  @font-face {
    font-family: "ProximaNova-Bold";
    src: url('../fonts/ProximaNovaRegular.otf');
  }
}
