body {
    background: #fff;
    color: #111;
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

a {
    color: #ccc;
    text-decoration: none;
    -webkit-transition all 0.1s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: #999;
}

#name {
    font-size: 120;
    color: #111;
    font-family: "Montserrat";
    text-align: center;
    letter-spacing: -10;
    font-weight: 700;
}

h1 {
    font-family: Montserrat;
}
