#banner-container {
    padding-top: 100px;
}

#name {
    font-size: 120;
    color: #111;
    font-family: "Montserrat";
    text-align: center;
    letter-spacing: -10;
    font-weight: 700;
}

ul {
    padding-left: 120px;
}

li {
    margin-left: auto;
    margin-right: auto;
    font-family: "Ubuntu";
    list-style-type: none;
    display: inline;
    font-size: 30;
    color: #999;
    padding-right: 70px;
}
