{% extends "base.html" %}

{% block title %}Doug Black{% endblock %}

{% block header %}
<div id="header" />
{% endblock %}

{% block body %}
<div id="grid-home">
    <div class="grid-line grid-line-v"></div>
    <div class="grid-line grid-line-h"></div>

    <div class="grid-content">
        <div class="name-block">
            <span class="coord coord-top">39.7392° N</span>
            <h1 class="grid-name">DOUG BLACK</h1>
            <span class="coord coord-bottom">104.9903° W</span>
        </div>

        <nav class="grid-nav">
            <a href="about.html">about</a>
            <a href="words.html">words</a>
            <a href="https://github.com/dougblack" target="_blank">github</a>
            <a href="resume.pdf">resume</a>
        </nav>
    </div>

    <div class="grid-marker"></div>
</div>
{% endblock %}
