{% extends "base.html" %}

{% block title %}Doug Black{% endblock %}

{% block header %}
<div id="header">
    <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">&#9790;</button>
</div>
{% endblock %}

{% block body %}
<div id="container">
    <div id="banner-container">
        <div id="name">DOUG BLACK</div>
        <div class="accent-rule"></div>

        <ul class="home-nav">
            <li><a href="words.html">writing</a></li>
            <li><a href="https://github.com/dougblack" target="_blank">github</a></li>
            <li><a href="resume.pdf">resume</a></li>
        </ul>
    </div>
</div>
{% endblock %}
